@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Helvetica, Arial, sans-serif;
}

@layer base {
  .dark,
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 96%;
    --card: 0 0% 9% / 0.5;
    --card-foreground: 0 0% 96%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 96%;
    --primary: 0 0% 96%;
    --primary-foreground: 0 0% 9%;
    /* --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 96%; */
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 45%;
    --accent-foreground: 0 0% 96%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 96%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --secondary: 0 0% 83%;
    --radius: 0.5rem;

    --gradient-red: linear-gradient(
        90deg,
        rgba(69, 10, 10, 0.35) 40%,
        rgba(69, 10, 10, 0) 100%
      ),
      rgba(23, 23, 23, 0);
    --gradient-blue: linear-gradient(
        90deg,
        rgba(23, 37, 84, 0.35) 40%,
        rgba(23, 37, 84, 0) 100%
      ),
      rgba(23, 23, 23, 0);
    --gradient-green: linear-gradient(
      90deg,
      rgba(20, 83, 45, 0.35) 40%,
      rgba(20, 83, 45, 0) 100%
    );

    --secondary-glow: conic-gradient(
      from 10deg at 50% 50%,
      #eb7494 0deg,
      #ae77b2 55deg,
      #97b5da 120deg,
      #0099ca 160deg,
      transparent 360deg
    );

    --third-glow: conic-gradient(
      from 90deg at 50% 50%,
      #ff8b7e 0deg,
      #e24e6b 160deg,
      #7ed2da 120deg,
      #8bdce0 55deg,
      transparent 360deg
    );
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .container {
    @apply px-8 md:px-0;
  }
  .bg-gradient-red {
    background: var(--gradient-red);
  }
  .bg-gradient-blue {
    background: var(--gradient-blue);
  }
  .bg-gradient-green {
    background: var(--gradient-green);
  }
  .navbar-selected {
    margin-left: calc((100vw - 100%)/ -2) ;
    margin-right: calc((100vw - 100%)/ -2);
  }
  .no-scroll-bar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  /* body::before,
  body::after {
    content: "";
    position: fixed;
    z-index: -1;
    opacity: 0.1;
  }

  body::before {
    background: var(--third-glow);
    border-radius: 50%;
    width: 50vw;
    height: 50vw;
    margin-left: -200px;
    filter: blur(90px);
    top: calc(50vh - 50vw / 2);
    left: calc(50vw);
    animation: animateBefore 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
  }
  body::after {
    background: var(--secondary-glow);
    border-radius: 50%;
    width: 500px;
    height: 700px;
    filter: blur(90px);
    top: calc(50vh - 50vw / 2);
    left: calc(50vw - 50vw / 2);
    animation: animateAfter 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
    
  }
  @keyframes animateBefore {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(200px) scale(0.8);
  
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes animateAfter{
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-250px) scale(1.2);
  
    }
    100% {
      transform: translateX(0);
    }
  } */
}
